# Importing the required Packages
1) Beautiful Soup   <br> </br>
2) Urlopen from Urllib.request <br> </br>
3) Pandas to create a dataframe <br> </br>

In [39]:
#importing beautiful soup and urllib
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd

# Loading the html file and requesting for the job match

For scraping data for a particular job eg : **Accountants** <br></br>
The query which needs to be requested is *occupationNames=Accountants+(General)* <br></br>
Similarly,for a Software Engineer the query requested should be *occupationNames=Software+Engineer* <br></br>

**Note - Make sure you pass the right query otherwise the site would respond without any results matching**<br></br>

Link to the career options available - https://joboutlook.gov.au/Career <br> </br>
Link to the official website for skill matching - https://joboutlook.gov.au/skills-match <br> </br>

In [40]:
#Loading the page and parsing it as HTML
import urllib.request

class AppURLopener(urllib.request.FancyURLopener):
    version = "Mozilla/5.0"

opener = AppURLopener()

response = opener.open('https://joboutlook.gov.au/skills-match/job-ideas?occupationNames=Accountants+(General)')

page_html=response.read()
page_soup=soup(page_html,"html.parser")

C:\Users\Aniket\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: AppURLopener style of invoking requests is deprecated. Use newer urlopen functions/methods
  import sys

# Extracting the jobs 
1) Job name <br> </br>
2) Matching Strength <br> </br>
3) Salary <br> </br>
4) Growth <br> </br>

In [41]:
jobs=[]
ratings=[]
salarys=[]
growths=[]
article=page_soup.findAll('article')
for article in article:
    job_name=article.h3.text.split("-")[0].strip()
    rating=len(article.findAll('div',{'class':"progress-bar progress-1step-of5"}))
    salary=article.find('span',{'class':"snapshot-data"}).text
    growth=article.findAll('span',{'class':"snapshot-data"})[1].text
    jobs.append(job_name)
    ratings.append(rating)
    salarys.append(salary)
    growths.append(growth)

# List of the jobs fetched sorted in the order of Match with the query requested

In [42]:
list_jobs=list(zip(jobs,ratings,salarys,growths))
df=pd.DataFrame(list_jobs,columns=['Job','Match Rating out of 5','Salary','Growth'])
df

                                  Job  Match Rating out of 5  Salary    Growth
0                    Finance Managers                      5  $2,286    Strong
1         Corporate Services Managers                      4  $2,783  Moderate
2                   Financial Dealers                      4  $2,298    Stable
3                         Bookkeepers                      4  $1,234    Stable
4                Taxation Accountants                      4  $1,660  Moderate
5                   External Auditors                      3  $1,916    Strong
6   Organisation and Methods Analysts                      3  $2,067    Strong
7                   Internal Auditors                      3  $1,916    Strong
8                     Accounts Clerks                      3  $1,190    Stable
9                Corporate Treasurers                      3  $1,916    Strong
10                          Actuaries                      3  $2,060  Moderate
11                    Office Managers                      3  $1,490    Stable
12          Credit and Loans Officers                      3  $1,295    Strong
13      Financial Investment Advisers                      3  $2,307    Stable
14                   Records Managers                      3  $1,812   Decline
15         Quality Assurance Managers                      3  $2,259    Strong
16                            Valuers                      3  $1,780  Moderate
17                      Retail Buyers                      3  $1,810    Strong
18           Health Practice Managers                      2  $1,600    Strong
19             Management Consultants                      2  $2,067    Strong